html {
  height: 100%;
  width: 100%;
}

body {
  background-color: navy;
  background-size: full-cover;
  color: white;
  font-size: 22px;
  line-height: 1.5;

}

main {
  display: grid;
}

.log {
  border-radius: 3px;
}

header {
  background-color: #dcd2;
  padding: 10px;
  display: fixed;
}

h1 {
  display: flex;
  flex-wrap: wrap;
  color: greenyellow;
  font-family: calibre;
  font-size: 50px;
  margin-top: -8px;
  margin-bottom: -8px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: wheat;
}

a:visited {
  color: gold;
}

a:hover {
  color: #a2a2ec;
  text-decoration: underline;
}

h2 {
  font-family: calibre;

  margin: 0;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  margin: 1;
}

/************ Contact us page**************/

.main-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: navy;
  border-radius: 3px;
}

.davi {
  margin-right: 20px;
}

.conta {
  justify-content: center;
  color: wheat;
}

.main-b {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.left {
  width: 60%;
}

.right {
  width: 40%
}

iframe {
  margin-left: 10px;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #dcd2;
  border-radius: 10px;
}

.icons a:hover {
  color: #a2a2ec;
  transition: 0.5s;
  transform: scale(1.3) rotate(360deg);
}

.images-d {
  display: inline-flexbox;
  flex-wrap: wrap;
  float: left;
}

.images-d img {
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
}

.davi img {
  border-radius: 4px;
  width: 400px;
  height: 500px;
}

.efy {
  padding-top: 10px;
  width: 40%;
}

.davi {
  width: 40%;
  padding-top: 10px;
}

.efy img {
  border-radius: 4px;
  width: 400px;
  height: 500px;
}